.mow{background-color: blue;}
.we{background-color: bisque;}
.2{height: 350px; margin: 100;}
.O4{display: flex;}
.h1{.bevan-regular {
  font-family: "Bevan", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bevan-regular-italic {
  font-family: "Bevan", system-ui;
  font-weight: 400;
  font-style: italic;
}
;
}